body {
  background: rgb(255, 192, 234);
  text-align: center;
}

h2 {
    font-size: xx-large;
    font-family: monospace;
    font-weight: bolder;
}

image {
  width: 300px;
  height: 275px;
  float: left;
}

p {
  text-align: center;
}

#purplebutton {
  position: absolute;
  top: auto;
  left: auto;
  height: 70px;
  width: 140px;
  background-color: rgb(144, 43, 226);
  border-radius: 40px;
}